---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between ">
          <div class="space-y-4 sm:space-y-12">
               <H1> \ Une réalité / fragmentée </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    
               Inspiré du <a href="https://www.ubishops.ca/academic-programs/faculty-of-humanities/english/events-in-the-english-department/buff/" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">Bishop’s University Film Festival (BUFF)</a>, le festival Campus en Fragments valorise la créativité et les aptitudes en cinématographie numérique de la communauté UdeS. Toustes sont invités à soumettre un court métrage d’une durée maximum de 6 min dont la forme peut être fictionnelle, documentaire ou expérimentale. 
               </p>
               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">La remise des courts-métrages se fait au plus tard vers la mi-novembre. Les films sélectionnés sont ensuite projetés lors d’une soirée gala fin novembre où l’on souligne le travail et la réussite critique des œuvres présentées.</p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Suggestions de thèmes</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li>Scènes de la vie quotidienne</li>
                    <li>Isolement</li>
                    <li>Travail et études</li>
                    <li>Burn out, dépression</li>
               </ul>
          </div>
     </div>
</InfoLayout>
